.table-report {
  font-size: 12px;
  clear:both;
}

.table-report .table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td, 
.table>tfoot>tr>td{
	padding:4px;
}

.table-report .table>tfoot>tr>td{
	background-color: #ccc;
	font-weight: bold;
}

.table-report .table>thead>tr>th{
	vertical-align: middle;
	text-align: center;
}

.form-report{
	font-size: 12px;
}

.form-report .btn{
	padding: 5px 10px;
	font-size: 12px;
}

.lists{
	width: 95%;
}

input[type="checkbox"] {
  margin: 16px 0 0 !important;
}