body{
	background-color: #f8f8f8;
}

.navbar-default{
	background-color: #f8f8f8;
}

.navbar{
	margin-bottom: auto;
	background-color: #2c3e50;
}

.navbar-static-side {
	z-index: 1;
	position: absolute;
	width: 250px;
}

.navbar-static-side ul li {
	border-bottom: 1px solid #EEE8E8;
}

.navbar-static-side ul li a{
	color: #2c3e50;
}

.row{
	padding-top:20px;
}

#page-wrapper {
	position: inherit;
	margin: 0 0 0 250px;
	padding: 0 30px;
	min-height: 1300px;
	border-left: 1px solid #EEE8E8;
	background-color: #fff;
}

#create-page{
	margin-top:20px;
}

#loading-progress .modal-body{
	max-height: 300px;
	overflow: auto;
}

.arrow {
	float: right;
}

.login-container{
	margin-top: 5em;
}

.nav-second-level li a {
	padding-left: 37px;
}

.page-header{
	margin: 20px 0 0;
}

.form-custom{
	margin:10px 0 20px 0;
}

.table{
	margin-bottom: 10px!important;
}

.table thead
{
	background-color: #2c3e50;
	color:#fff;
}

.pagination{
	margin:10px 0!important;
}

input[type="file"]{
	margin-top: 10px;
}